/*
 * Copyright @ UI.CN 
 * Data: 2015-03-02
 */

/* ==========================================================================
   CSS Normalize Styles
   ========================================================================== */


/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/
html {
	-webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.6rem;
	line-height: 1.5;
	color: #34495e;   /*黑蓝色*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga","kern";
	cursor: default;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,th {
	padding: 0;
}
ul,ol,li,dl,dd {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none outside none;
}
a {
	color: #34495e;   /*黑蓝色*/
	outline: medium none;
	text-decoration: none;
	background: transparent;
	star:expression(this.onFocus=this.blur());
	/* transition: all 0.2s ease-in-out; */
}
a:hover {
	color: #3498db;   /*浅蓝色*/
}
figure {
  margin: 0;
}
img {
	border: 0;
	vertical-align: middle;
	width: inherit;
	height: inherit;
}
b,strong {
	font-weight: normal;
}
i, cite, em, var, address, dfn {
	font-style: normal;
}

abbr[title],
abbr[data-original-title] {          /*标记缩写*/
	cursor: help;
	border-bottom: 1px dotted;
}
mark {                /*高亮文本*/
	background: #ff0;
	color: #000;
}
small {               /*标记小字*/
	font-size: 80%;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top:0.05rem solid #eee;
}

button,input,optgroup,select,textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input::-ms-clear {
    display: none;
}

input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 0.1rem;
	padding: .35em .625em .75em;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: hidden;
	resize: none;
}

optgroup {
	font-weight: bold;
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #bdc3c7;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #bdc3c7;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #bdc3c7;
}

object { outline: none;}

/* ==========================================================================
   CSS Base Styles
   ========================================================================== */

/* 浮动 */
.left { float: left !important; }
.right { float: right !important; }

/* 清除浮动 */
.cl:before, .cl:after{content:" ";display: table;}
.cl:after { clear: both }
.cl { *zoom: 1 }

/* 显示/隐藏 */
.show { display: block !important; }
.hide { display: none !important; }

/* 相对定位 */
.pos { position: relative; }
.abs { position: absolute;}
/*块级元素*/
.block { display: block; margin-left: auto; margin-right: auto; }
.inblock { display: inline-block; }

/*单行文本溢出文本显示省略号*/
.ellipsis {
	display: block; 
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
}

/* 灰色 */

/*页面选中时背景颜色*/
::selection{background:#3498db;color:#fff;}
::-moz-selection{background:#3498db;color:#fff;}

/* 通用容器，定义页面宽度 具有五个级别 */
.wpn { width: 59rem; margin: 0 auto; }  	/* 4 列 * 300 */

.Color666{
	color: #666;
}
.red-c10{
	color: #c10d0c;
}


/* 外边距样式，作用于元素的上下外边距，上下各具有 n, m, w v三个级别 */
/*m -->margin,t--->top,n--->narrow 窄的意思 5px*/
/*m -->margin,t--->top,m--->middle 适中的意思 10px*/
/*m -->margin,t--->top,w--->wide 宽 20px*/
/*m -->margin,t--->top,v---> very wide 非常宽 30px*/
.mtn { margin-top: 0.25rem !important; }
.mtm { margin-top: 0.5rem !important; }
.mtw { margin-top: 1rem !important; }
.mtv { margin-top: 1.5rem !important; }
.add-mt { margin-top: 3.5rem !important; }
/*m -->margin,b--->bottom,n--->narrow 窄的意思 5px*/
.mbn { margin-bottom: 0.25rem !important; }
.mbm { margin-bottom: 0.5rem !important; }
.mbw {margin-bottom: 1rem !important;}
.mbv { margin-bottom: 1.5rem !important; }
/*m -->margin,r--->right,n--->narrow 窄的意思 5px*/
.mrn { margin-right: 0.25rem !important; }
.mrm { margin-right: 0.5rem !important; }
.mrw { margin-right: 1rem !important; }
.mrv { margin-right: 1.5rem !important; }
/*m -->margin,l--->left,n--->narrow 窄的意思 5px*/
.mln { margin-left: 0.25rem !important; }
.mlm { margin-left: 0.5rem !important; }
.mlw { margin-left: 1rem !important; }
.mlv { margin-left: 1.5rem !important; }



/* 内边距样式，作用于元素的上下内边距，上下各具有 n, m, w v三个级别 */
/*padding top narrow */
.ptn { padding-top: 0.25rem !important; }
.ptm { padding-top: 0.5rem !important; }
.ptw { padding-top: 1rem !important; }
.ptv { padding-top: 1.5rem !important; }

.prn { padding-right: 0.25rem !important; }
.prm { padding-right: 0.5rem !important; }
.prw { padding-right: 1rem !important; }
.prv { padding-right: 1.5rem !important; }

.pln { padding-left: 0.25rem !important; }
.plm { padding-left: 0.5rem !important; }
.plw { padding-left: 1rem !important; }
.plv { padding-left: 1.5rem !important; }

.pbn { padding-bottom: 0.25rem !important; }
.pbm { padding-bottom: 0.5rem !important; }
.pbw { padding-bottom: 1rem !important; }
.pbv { padding-bottom: 1.5rem !important; }






/* 文本属性：标题 字号、样式、颜色、背景颜色 */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	color: inherit;
	font-family: inherit;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
}
h1,.h1 { font-size:1.2rem }
h2,.h2 { font-size:0.9rem; line-height:1.5555556 }
h3,.h3 { font-size:0.8rem }
h4,.h4 { font-size:0.7rem; line-height:1.5714285 }
h5,.h5 { font-size:0.6rem }

p { margin: 0; font-size: 0.7rem; line-height: 1.57142858; color: #34495e; word-wrap:break-word; word-break: break-word; }

/* 字号 */
.f12 { font-size: 0.6rem !important; }
.f14 { font-size: 0.7rem !important; }
.f16 { font-size: 0.8rem !important; }
.f18 { font-size: 0.9rem !important; }
.f20 { font-size: 1rem !important; }
.f22 { font-size: 1.1rem !important; }
.f24 { font-size: 1.2rem !important; }
.f26 { font-size: 1.3rem !important; }
.f28 { font-size: 1.4rem !important; }
.f30 { font-size: 1.5rem !important; }
.f32 { font-size: 1.6rem !important; }
.f34 { font-size: 1.7rem !important; }
.f36 { font-size: 1.7rem !important; }


/*文本样式*/
.txt-left { text-align: left }/*文字靠左*/
.txt-right { text-align: right }/*文字靠右*/
.txt-center { text-align: center }/*文字居中*/
.txt-bold { font-weight: bold }/*文字加粗*/

/*文本颜色*/
/*.txt-primary { color: #3498db; }
a.txt-primary:hover {color: #3498db; text-decoration: underline; transition: all 0.2s ease-in-out; }

.txt-gray { color: #b8c4ce; }

a.txt-gray:hover { color: #34495e; }
*/
.txt-gray{
	color:#BDC3C7;
}

/* 增加的颜色 */
.color1212{
	color: #121212;
}
.color999{
	color: #999999;
}
.colorfff{
	color: #fff;
}


/*背景颜色*/
/*.bg-primary { background-color: #3499da !important; color: #fff !important; }*/
/*.bg-gray { background-color: #b8c4ce !important; color: #fff !important; }
.bg-nature { background-color: transparent !important; color: #2c3e50 !important; }
.bg-orange { background-color: #ff8d41 !important; color: #fff !important; }
.bg-blue { background-color: #3498db!important; color: #fff !important; }
.bg-green { background-color: #1abc9c !important; color: #fff !important; }
.bg-purple { background-color: #9b59b6!important; color: #fff !important; }
*/
/*宽度*/
/*需要你写*/
/*
.col-n { width: 280px !important; }
.col-m { width: 520px !important; }
.col-w { width: 580px !important; }
.col-v { width: 880px !important; }
.col-x { width: 1180px !important; }
*/
/*高度*/
/*需要你写*/
/*
.hei-n { height: 100px; }
.hei-m { height: 520px; }
.hei-w { height: 720px; }
*/
/**
 * 按钮 Buttons 
 需要自己改
 **/
.btn {
	display: inline-block;
	padding: 0.5rem 1rem;
	/*height: 40px;*/
	/*height: 20px;*/
	/*line-height: 1.42857143;*/
	line-height: 1rem;
	letter-spacing: 0.05rem;
	font-size: 0.7rem;
	text-align: cencenterter;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;   /*禁止选择文字*/
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	/*background-image: none;*/
	border: none;
	/*border-radius: 2px;*/
}
.btn:hover { transition: background-color 0.2s ease-in-out; color: #fff; }
.btn:focus, .btn:active:focus { outline: none; }

/*禁用按钮*/
.btn.disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=60);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .60;
}

/*蓝色按钮*/
.btn-primary { color: #fff; background-color: #3498db; }
.btn-primary:hover{ color: #fff; background-color: #3da2e3; }
.btn-primary:active{ background-color: #298fd3; }

/*灰色按钮*/
.btn-gray { color: #fff; background-color: #b8c4ce; }

/*无背景按钮*/
.btn-nature { color: #2c3e50; background-color: transparent; }
.btn-nature:hover { color: #fff; color: #3498db; }



/*网站整体灰色背景
自己修改
*/
body,
.body-gray { background-color: #eff3f5; }
/*部分白色背景*/
.bg-white {background-color: #fff;}
.logo-hd .icon {
	width: 3rem;
	height: 3.5rem;
	text-align: center;
	fill: currentColor;
	overflow: hidden;
}
/* 弹性布局 */
.borderBox{
	box-sizing: border-box;
}
.flex{
	display: flex;
	box-sizing: border-box;
}
/* 	超出换行 */
.flexWrap{
	flex-wrap: wrap;
}
/* 水平对齐 */
.justify-center{
	justify-content: center;
}
.justify-bet{
	justify-content: space-between;
}
.justify-around{
	justify-content: space-around;
}
/* 单行垂直对齐 */
.alignCenter{
	align-items: center;
}
.alignEnd{
	align-items: flex-end;
}
.alignContent-Center{
	align-content: center;
}
/* 排列方式 */
.flexRow{
	flex-direction: row;
}
.flexCol{
	flex-direction: column;
}